{% extends 'base.html' %}
{% block content %}
{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
    <div class="container">
    <form method="POST" class="post-form">
            {% csrf_token %}
    <table>
        <tr><td>{{form}}</td></tr>
       <tr><td></td><td><button type="submit" style="color:blue" class="btn btn-outline-info">save</button></td></tr>
    </table>

    </form>
</div>
{% endblock %}
