
{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
<div class="control-group">
          <div class="controls">
         <center> <h3>  You have logged in as {{ request.user.username }}</h3></center>
         

          </div>
      </div>
{% endblock %}
