
{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
    <div class="container" style = 'position:absolute;  right:0; left:35%;'>
        <form method="POST">
        {% csrf_token %}
        <h3>Login</h3><br>
        {{form.as_p}}
            <button style="color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
