{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
<div class="control-group">
          <div class="controls">
            <table>
            <th> Name</th>
            <th> Mail ID</th>
            <th> Role </th>
{% for data1 in data %}
 <tr><td> {{ data1.user }}</td>
  <td>{{ data1.email }}</td>
  <td>{{data1.role}}</td></tr>
{% endfor %}
</table>

          </div>
      </div>
    
{% endblock %}